@model BaoCaoLTW.Models.SanPham
@{ 
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div id="page-content" class="single-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Index")">Trang Chủ</a></li>
                    <li><a href="#">@Model.TenNhaSX</a></li>
                    <li><a href="#">@Model.TenSanPham</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div id="main-content" class="col-md-8">
                <div class="product">
                    <div class="col-md-6">
                        <div class="image">
                            <img src="~/Assets/user/img/@Model.HinhAnh" />                           
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="caption">
                            <div class="name"><h2>@Model.TenSanPham</h2></div>
                            <div class="info">
                                <ul>
                                    <li>Thương hiệu: @Model.TenNhaSX</li>
                                    <li>Mã sản phẩm: @Model.MaSanPham</li>
                                </ul>
                            </div>
                            <span>Giá: <span style="color:red; font-size: 25px;">@Model.Gia </span> VNĐ</span>                     
                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                            <div id="Dat-mua">
                                <a href="@Url.Action("AddToCart","ShoppingCart", new { id = Model.MaSanPham})" class="btn btn-danger">THÊM VÀO GIỎ HÀNG</a>
                            </div>
                            <hr />
                            <div class="share well">
                                <strong style="margin-right: 13px;">Share :</strong>
                                <a href="#" class="share-btn" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="share-btn" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="share-btn" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="product-desc">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#description">MÔ TẢ SẢN PHẨM</a></li>                        
                    </ul>
                    <div class="tab-content">
                        <div id="description" class="tab-pane fade in active">
                            <h4>GIÀY CAO CẤP</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ante. Mauris eleifend, quam a vulputate dictum, massa quam dapibus leo, eget vulputate orci purus ut lorem. In fringilla mi in ligula. Pellentesque aliquam quam vel dolor. Nunc adipiscing. Sed quam odio, tempus ac, aliquam molestie, varius ac, tellus. Vestibulum ut nulla aliquam risus rutrum interdum. Pellentesque lorem. Curabitur sit amet erat quis risus feugiat viverra. Pellentesque augue justo, sagittis et, lacinia at, venenatis non, arcu. Nunc nec libero. In cursus dictum risus. Etiam tristique nisl a</p>
                            <h4>Sample Lorem Ipsum Text</h4>
                            <p>Sed eget turpis a pede tempor malesuada. Vivamus quis mi at leo pulvinar hendrerit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque aliquet lacus vitae pede. Nullam mollis dolor ac nisi. Phasellus sit amet urna. Praesent pellentesque sapien sed lacus. Donec lacinia odio in odio. In sit amet elit. Maecenas gravida interdum urna. Integer pretium, arcu vitae imperdiet facilisis, elit tellus tempor nisi, vel feugiat ante velit sit amet mauris. Vivamus arcu. Integer pharetra magna ac lacus. Aliquam vitae sapien in nibh vehicula auctor. Suspendisse leo mauris, pulvinar sed, tempor et, consequat ac, lacus. Proin velit. Nulla semper lobortis mauris. Duis urna erat, ornare et, imperdiet eu, suscipit sit amet, massa. Nulla nulla nisi, pellentesque at, egestas quis, fringilla eu, diam.</p>
                        </div>                       
                    </div>
                </div>              
            
                </div>
            <div id="sidebar" class="col-md-4">
                <div class="widget wid-categories">
                    <div class="heading"><h4>THƯƠNG HIỆU</h4></div>
                    <div class="content">
                        @Html.Action("ThuongHieu", "Home")
                    </div>
                </div>
                <div class="widget wid-discouts">
                    <div class="heading"><h4>DISCOUNTS</h4></div>
                    <div class="content">
                        <label class="checkbox"><input type="checkbox" name="discount" checked="">Upto - 10% (20)</label>
                        <label class="checkbox"><input type="checkbox" name="discount">40% - 50% (5)</label>
                        <label class="checkbox"><input type="checkbox" name="discount">30% - 20% (7)</label>
                        <label class="checkbox"><input type="checkbox" name="discount">10% - 5% (2)</label>
                        <label class="checkbox"><input type="checkbox" name="discount">Other(50)</label>
                    </div>
                </div>
                <div class="widget wid-brand">
                    <div class="heading"><h4>THỂ LOẠI</h4></div>
                    <div class="content">
                        <label class="checkbox"><input type="checkbox" name="brand">Giày chạy bộ</label>
                        <label class="checkbox"><input type="checkbox" name="brand">Giày thể thao</label>
                        <label class="checkbox"><input type="checkbox" name="brand">Giày đi chơi</label>
                        <label class="checkbox"><input type="checkbox" name="brand">Giày đi chơi</label>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
	
